/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
	display: none;
}

body {
	line-height: 1;
}

menu,
ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* global styles */
*,
*::before,
*::after {
	box-sizing: border-box;
	transition: 0.1s linear;
}

*::-moz-placeholder {
	font-family: "Roboto", sans-serif;
}

*:-ms-input-placeholder {
	font-family: "Roboto", sans-serif;
}

*::placeholder {
	font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	display: none;
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

input,
button,
textarea {
	outline: 0;
}

button {
	background: transparent;
	padding: 0;
	border: 0;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: #838383;
}

/* end of global styles*/
body {
	font-family: "Roboto", sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	position: relative;
	box-shadow: 2px 1px 7px 3px rgba(0, 0, 0, 0.1);
}
.header__inner {
	padding: 25px 0;
	display: flex;
	justify-content: space-between;
}
.header__inner .left-side .logo {
	display: flex;
	align-items: center;
}
.header__inner .left-side .logo svg {
	width: 30px;
	height: 30px;
}
.header__inner .left-side .logo p {
	font-size: 18px;
	font-weight: 500;
	margin-left: 6px;
}
.header__inner .right-side {
	display: flex;
	align-items: center;
}
.header__inner .right-side .search {
	position: relative;
}
.header__inner .right-side .search input {
	padding: 3px 24px 3px 6px;
	border: 0;
	border-bottom: 1px solid #000;
}
.header__inner .right-side .search button {
	position: absolute;
	top: 0;
	right: 6px;
	width: 15px;
	height: 100%;
	cursor: pointer;
}
.header__inner .right-side .search button svg {
	height: 100%;
	width: 100%;
}
.header .nav {
	width: 100%;
	background-color: #fff;
	border: 1px solid #f1f1f1;
}
.header .nav.fixed {
	position: fixed;
	top: 0;
	box-shadow: 2px 1px 7px 3px rgba(0, 0, 0, 0.1);
}
.header .nav__inner {
	display: flex;
	max-width: 100%;
	overflow-x: auto;
}
.header .nav__link {
	padding: 10px 0;
	display: block;
	font-size: 16px;
	margin-right: 15px;
}
.header .nav__links {
	position: relative;
}
.header .nav__links .nav__link {
	padding: 10px 8px 10px 0;
}
.header .nav__links .nav__link::after {
	content: "";
	position: absolute;
	top: 15px;
	right: 12px;
	width: 8px;
	height: 8px;
	background: no-repeat url(../img/arrow-down.png) center/contain;
}
.header .nav__links .links {
	display: flex;
	flex-direction: column;
	border-top: 1px solid #f1f1f1;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	padding: 28px 20px 10px;
}
.header .nav__links .links__area {
	padding: 1px 0 0;
	position: absolute;
	top: 36px;
	left: -14px;
	max-height: 0;
	opacity: 0;
	pointer-events: none;
}
.header .nav__links .links__area:hover {
	opacity: 1;
	pointer-events: all;
	max-height: 100vh;
}
.header .nav__links .links a {
	margin-bottom: 10px;
	font-size: 15px;
}
.header .nav__links:hover .links__area {
	opacity: 1;
	pointer-events: all;
}
.header .all-links {
	position: absolute;
	top: 82px;
	left: 0;
	width: 100%;
	padding: 50px 0;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
	overflow-y: auto;
	transition: 0.2s linear;
	opacity: 0;
	pointer-events: none;
	max-height: 0;
}
.header .all-links.active {
	opacity: 1;
	pointer-events: all;
	max-height: 100vh;
}
.header .all-links__inner {
	display: flex;
	flex-wrap: wrap;
}
.header .all-links__inner .column {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	margin: 0 25px 20px 0;
}
.header .all-links__inner .column .category {
	font-weight: 500;
	margin-bottom: 8px;
}
.header .all-links__inner .column .category__item {
	font-size: 16px;
	margin-top: 12px;
}
.account {
	margin-left: 20px;
	display: flex;
	align-items: center;
	padding-top: 3px;
}
.account .btn {
	font-size: 14px;
	border: 1px solid #3b3b3b;
	padding: 6px 12px;
}
.account .btn:hover {
	background-color: #3b3b3b;
	color: #fff;
}
.account .btn:first-child {
	margin-right: 10px;
}
.account .leave {
	margin-left: 11px;
	margin-top: 1px;
}
.account .leave svg {
	width: 15px;
	height: 15px;
}
.account .leave:hover svg {
	fill: rgba(0, 0, 0, 0.5);
}
.main {
	margin: 40px 0 20px;
}
.main__inner {
	display: flex;
}
.main__inner .news {
	width: 70%;
}
.main__inner .news .filters {
	margin: 0 0 20px;
}
.main__inner .news .filters__content {
	border: 1px solid #f3f3f3;
	max-height: 0;
	opacity: 0;
	pointer-events: none;
}
.main__inner .news .filters .btn_main.active ~ .filters__content {
	max-height: 100%;
	opacity: 1;
	pointer-events: all;
	padding: 14px 20px;
}
.main__inner .news .filters .btn {
	font-size: 14px;
	border: 1px solid #3b3b3b;
	padding: 4px 13px;
}
.main__inner .news .filters .btn_main:hover,
.main__inner .news .filters .submit:hover {
	background: #3b3b3b;
	color: #fff;
}
.main__inner .news .filters .btn.active {
	background: #3b3b3b;
	color: #fff;
}
.main__inner .news .filters .btn_main {
	font-size: 16px;
	padding: 6px 17px;
}
.main__inner .news .filters .date {
	margin-top: 26px;
	padding-top: 26px;
	border-top: 1px solid #f3f3f3;
}
.main__inner .news .filters .date:first-child {
	border: 0;
	padding-top: 0;
}
.main__inner .news .filters .date:first-child {
	margin-top: 13px;
}
.main__inner .news .filters .date:last-child {
	margin-bottom: 13px;
}
.main__inner .news .filters .date .field {
	display: flex;
	align-items: flex-end;
}
.main__inner .news .filters .date .field p {
	margin: 0 16px;
	font-size: 14px;
}
.main__inner .news .filters .date input {
	height: 22px;
	border: 0;
	font-size: 12px;
	border-bottom: 1px solid #000;
}
.main__inner .news .filters .date button {
	padding: 2px 13px;
	background-color: #fff;
	font-size: 12px;
}
.main__inner .news .filters .date p {
	margin-bottom: 8px;
	font-size: 13px;
}
.main__inner .news .title {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 30px;
}
.main__inner .news__item {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}
.main__inner .news__item .time {
	font-size: 14px;
	color: #9099ae;
	margin-right: 20px;
}
.main__inner .news__item-title {
	font-size: 18px;
	line-height: 1.3em;
}
.main__inner .news__item-title:hover {
	color: #5e5edf;
}
.main__inner .news .time-devider {
	margin: 40px 0;
	color: #9099ae;
	font-size: 18px;
	font-weight: 300;
	display: flex;
	align-items: center;
}
.main__inner .news .time-devider .line {
	flex-grow: 1;
	height: 2px;
	background-color: #f3f3f3;
}
.main__inner .news .time-devider .divide {
	padding: 0 20px;
}
.main__inner .popular {
	width: 28%;
	margin-left: 2%;
}
.main__inner .popular .title {
	font-size: 25px;
	font-weight: 500;
	padding-bottom: 10px;
	border-bottom: 2px solid #f3f3f3;
	margin-bottom: 25px;
}
.main__inner .popular .news__item {
	display: flex;
}
.main__inner .popular .news__item-title {
	font-size: 18px;
	line-height: 1.3em;
}
.main__inner .popular .news__item .views {
	margin-left: 5px;
	display: flex;
	align-items: center;
	color: #9099ae;
	font-size: 12px;
}
.main__inner .popular .news__item .views svg {
	width: 15px;
	height: 15px;
	fill: #9099ae;
	margin-right: 3px;
}

.news__content {
	width: 70%;
}
.news__content .upper-line {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
}
.news__content .upper-line .views svg {
	width: 14px;
	height: 14px;
	margin-left: 5px;
	fill: #9099ae;
}
.news__content .upper-line .views span {
	color: #9099ae;
}
.news__content .upper-line .views {
	display: flex;
	align-items: center;
}
.news__content .title {
	font-size: 28px;
	line-height: 2.5rem;
	margin: 8px 0 28px;
}
.news__content .edit-form textarea {
	width: 100%;
	resize: none;
	border: 1px solid #ccc;
	font-family: "Roboto", sans-serif;
	padding: 5px 10px;
}
.news__content .edit-form input {
	width: 100%;
	border: 1px solid #ccc;
	font-family: "Roboto", sans-serif;
}
.news__content .edit-form .title {
	border: 0;
	border-bottom: 1px solid #ccc;
}
.news__content .edit-form .news__content-text {
	margin: 10px 0 20px 0;
}
.news__content .edit-form .btn {
	margin-top: 20px;
	font-size: 14px;
	border: 1px solid #3b3b3b;
	padding: 6px 12px;
}
.news__content .edit-form .btn:hover {
	background-color: #3b3b3b;
	color: #fff;
}
.hidden {
	display: none;
}
.news__content .edit-form .tags__content {
	height: 20px;
	margin-left: 5px;
	border: 0;
	border-bottom: 1px solid #ccc;
	padding: 0 0 0 5px;
}
.news__content img {
	width: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}
.news__content-text {
	margin: 20px 0;
	line-height: 1.6rem;
}
.news__content .line {
	width: 100%;
	height: 1px;
	background-color: #cecece;
	border: 0;
}
.news__content .tags {
	margin-top: 15px;
	display: flex;
	align-items: center;
}
.news__content .tags p {
	font-weight: 500;
}
.news__content .tags .tag {
	font-size: 13px;
	border: 1px solid #cecece;
	margin-left: 5px;
	padding: 5px;
}
.news__content .other-news .title {
	font-size: 26px;
	font-weight: 500;
	margin: 40px 0 10px;
}
.news__content .other-news .content {
	border: 1px solid #e2e2e2;
	border-top: 2px solid #000;
	padding: 15px 30px;
}
.news__content .other-news .content__item {
	display: block;
	color: #000;
	line-height: 1.4rem;
	padding: 9px 0 13px;
	border-bottom: 1px solid #e2e2e2;
	transition: 0.2s linear;
}
.news__content .other-news .content__item:last-child {
	border-bottom: 0;
}
.news__content .other-news .content__item:hover {
	color: #cecece;
}

.comments {
	margin-top: 50px;
}
.comments .title {
	padding-bottom: 5px;
	border-bottom: 1px solid #cecece;
	margin: 0;
}
.comments .add form {
	margin: 20px 0 40px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.comments .add form textarea {
	min-width: 450px;
	height: 80px;
	padding: 10px 15px;
	border: 1px solid #e5e5e5;
	outline: none;
	font-family: "Roboto", serif;
	font-size: 15px;
	line-height: 1.1em;
	resize: none;
}
.comments .add form textarea::-moz-placeholder {
	font-family: "Roboto", serif;
	font-size: 15px;
}
.comments .add form textarea:-ms-input-placeholder {
	font-family: "Roboto", serif;
	font-size: 15px;
}
.comments .add form textarea::placeholder {
	font-family: "Roboto", serif;
	font-size: 15px;
}
.comments .add form button {
	margin-top: 10px;
	display: block;
	cursor: pointer;
	padding: 8px 15px;
	background: transparent;
	border: 1px solid #e5e5e5;
	outline: none;
	font-size: 15px;
	font-weight: 500;
	transition: 0.2s linear;
}
.comments .add form button:hover {
	background-color: #333;
	color: #fff;
}
.comments .content .item {
	margin-top: 30px;
	display: flex;
}
.comments .content .item:first-child {
	margin-top: 20px;
}
.comments .content .item .icon {
	display: block;
	width: 65px;
	height: 65px;
}
.comments .content .item .right {
	margin: 5px 0 0 15px;
	display: flex;
	flex-direction: column;
}
.comments .content .item .name {
	margin-bottom: 12px;
	font-size: 14px;
	font-weight: 500;
	color: #9099ae;
}
.edit {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 28px;
}
.edit-btn {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.edit-btn svg {
	width: 22px;
	height: 22px;
	pointer-events: none;
}
.edit-btn:hover svg {
	fill: rgba(0, 0, 0, 0.5);
}
.edit-btn span {
	margin-left: 8px;
	font-size: 14px;
	pointer-events: none;
}
.edit-btn:hover span {
	color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 1260px) {
	.container {
		padding: 0 20px;
	}
}

@media (max-width: 900px) {
	.main__inner {
		flex-direction: column-reverse;
	}
	.main__inner .news {
		width: 100%;
	}
	.main__inner .popular {
		width: 100%;
		margin: 0 0 20px;
	}
	.main__inner .news__content {
		width: 100%;
	}
}

@media (max-width: 420px) {
	.header__inner {
		flex-direction: column;
		align-items: center;
	}
	.header__inner .left-side {
		margin-bottom: 30px;
	}
	.header__inner .right-side {
		flex-direction: row-reverse;
	}
	.header__inner .right-side .burger {
		margin-left: 0;
		margin-right: 18px;
	}
	.header .all-links {
		top: 135px;
	}
}
